html,
body,
ul,
li,
button,
p{
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
}

li,
a{
    text-decoration: none;
    list-style-type: none;
    color: #000000;
}

body{
    font-family: system-ui;
    background-color: #f7f7f7;
}

/* ......... HEADER START ......... */
header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 75px;
    border-bottom: 1px solid #00000054;
    position: fixed;
    background-color: #f7f7f7;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header_logo {
    flex: 0 0 60px;
    position: relative;
}
.header_logo img{
    display: flex;
    align-items: center;
    width: 170px;
    margin: 0px 15px 0px 15px;
}
.header_burger {
    display: none;
}
.header_list {
    display: flex;
    justify-content: space-around;
    z-index: 3;
}
.header_list a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    opacity: 0.7;
}
.header_list a:hover{
    color: #081167;
    transition: all 0.4s;
}
.act_button_header{
    display: none;
}
.login_conteiner_header{
    width: 285px;
    display: block;
    align-items: center;
    justify-content: space-between;
}
.login_conteiner_header img{
    width: 25px;
}
.header_menu{
    width: 660px;
}

.login_conteiner_header a{
    color: #1F2428;
}
.login_link{
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: center;
}
.login_button{
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
}

/* ......... BUTTON ........ */
.buton_header{  
    font-size: 15px;
    background: linear-gradient(90deg, #00ba72 0%, #00D981 96.96%);
    border-radius: 10px;
    box-shadow: 0px 0px 20px -10px black;
    height: 40px;
    width: 160px;
    color: #fffffff0;
}
.buton_header:hover{
    transform: scale(1.005);
    background: linear-gradient(90deg, #039c61 0%, #00b56cdf 95.96%);
}
/* ......... BUTTON ........ */

@media (max-width:1150px)
{
    body.lock{
        overflow: hidden;
    }
    .header_body {
        height: 80px;
    }
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: #000000;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before,
    .header_burger:after{
        content: ' ';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before{
        top: 1px;
    }
    .header_burger:after{
        bottom: 0;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_burger.active:before{
        transform: rotate(44deg);
        top: 9px;
    }
    .header_burger.active:after{
        transform: rotate(-44deg);
        bottom: 8px;
    }
    .header_menu {
        position: fixed;
        top: -280%;
        left: 0;
        overflow: auto;
        z-index: 5;
        transition: all 0.5s ease 0;
        width: 100%;
        height: 100%;
        background-color: rgba(58, 65, 69, 0.98);
        padding: 90px 0px 0px 0px ;
    }
    .header_menu.active{
        top: 0;
        position: fixed;
        z-index: 2;
    }
    .header_list{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .header_list li{
        position: relative;
        font-size: 19px;
        margin: 0px 0px 18px 0px;
        color: #fffffff0;
    }
    .header_list a{
        color: #f7f7f7af;
        font-size: 23px;
        opacity: 0.7;
    }
    .ogr_header{
        display: flex;
        width: 370px;
        justify-content: space-between;
        align-items: center;
    }
    .login_conteiner_header{
        width: 260px;
    }
    .act_button_header{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin: 10px 0px 110px 0px;
    }
    .buton_header_to_act{
        font-size: 15px;
        background: linear-gradient(90deg, #00ba72 0%, #00D981 96.96%);
        border-radius: 10px;
        box-shadow: 0px 0px 20px -10px black;
        height: 40px;
        width: 355px;
        color: #fffffff0;
        margin-top: 15px;
    }
    .buton_header_to_act:hover{
        transform: scale(1.005);
        background: linear-gradient(90deg, #039c61 0%, #00b56cdf 95.96%);
    }
}
@media (max-width:600px)
{
    .login_conteiner_header{
        width: max-content;
    }
    .login_conteiner_header img{
        width: 25px;
    }
    .login_link{
        display: none;
    }
    .login_button{
        border: none;
        height: fit-content;
    }
    .buton_header{  
        font-size: 15px;
        background: linear-gradient(90deg, #00ba72 0%, #00D981 96.96%);
        border-radius: 10px;
        box-shadow: 0px 0px 20px -10px black;
        height: 33px;
        width: 142px;
        color: #fffffff0;
    }
    .buton_header:hover{
        transform: scale(1.005);
        background: linear-gradient(90deg, #039c61 0%, #00b56cdf 95.96%);
    }
    .header_logo img{
        display: flex;
        align-items: center;
        width: 155px;
    }
    .ogr_header{
        display: flex;
        width: 250px;
        justify-content: space-around;
        align-items: center;
        margin: 0px 15px 0px 0px;
    }
    
}
@media (max-width:424.99px)
{
    .ogr_header{
        justify-content: space-between;
    }
}
@media (max-width:374.99px)
{
    .login_conteiner_header{
        display: none;
    }
    .ogr_header{
        justify-content: flex-end;
    }

}
/* ......... HEADER END ......... */


main{
    margin-top: 76px;
    width: 100%;
    /* background-color: #445081; */
}
[class*="wrapper"]{ 
    max-width: 1250px;
    margin: 0px auto;
    padding: 0px 15px;
}
[class*="wrapper_card"]{ 
    max-width: 1500px;
    margin: 0px auto;
    padding: 0px 15px;
}
.title_info{
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 36px;
    display: flex;
    align-items: center;
    padding: 25px 0px 45px 100px;
}
.texts_title{
    min-height: max-content;
    max-width: 1100px;
}
.title_1{
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    margin-top: 25px;
}
.title_0{
    color: #ffffffc0;
    font-size: 16px;
    margin-top: 25px;
    width: max-content;
}
.title_2{
    color: #e1d7d7;
    font-size: 17px;
    margin-top: 17px;
}
.buton_header_2{  
    font-size: 15px;
    background: linear-gradient(90deg, #00ba72 0%, #00D981 96.96%);
    border-radius: 10px;
    box-shadow: 0px 0px 20px -10px black;
    height: 45px;
    width: 161px;
    color: #fffffff0;
    margin: 25px 0px;
}
.buton_header_2:hover{
    transform: scale(1.005);
    background: linear-gradient(90deg, #039c61 0%, #00b56cdf 95.96%);
}

.wrapper{
    /* background-color: #755b5b; */
    height: 1200px;
}
.photo_set_block{
    height: max-content;
    /* background-color: #e8e7e7d9; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 1.5em;
    justify-items: center;
    margin: 90px 0px;
}

.image_card_1{
    height: max-content;
    /* background-color: #c77c7c; */
    max-width: min-content;
    border-radius: 15px;
    box-shadow: 0px 0px 40px -25px black;
}
.image_card_1:hover{
    background-color: #f3f3f3;
    transform: scale(0.998);
    transition: all 0.4s;
}
img:hover{
    filter: blur(1px);
}
.image_sold_1 img{
    width: 360px;
    height: 220px;
}
.title_text{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.text_on_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 5px 35px 5px;
}
.date_and_hour{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    font-size: 12px;
    opacity: 0.6;
}
